.article {
	margin-right: auto;
	margin-left: auto;
	max-width: 800px;
}

h4 {
	font-size:14px;
}

h4 a, h4 a:hover, #caption a, #caption a:hover {
	color:inherit;
}

.content {
	font-size:1.15em;
	line-height: 1.5em;
}

p {
	text-indent: 50px;
}

#caption {
	color:#999;
	font-size:.8em;
	text-align:right;
}
