body {
	background-color:#841212;
}

@font-face {
	font-family: recordGothic;
	src: url(OldLondon.ttf);
}

#centerBox {
	width:300px;
	margin:100px auto;
	font-family: Lora;
	background-color:#fff;
	padding:0.5em 2em 1em 2em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
	font-family: recordGothic;
	font-size:1.5em;
}

h1 {
	font-weight:500;
}

h3 {
	font-family: Lato;
	font-weight:300;
}

hr  {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
