/* GENERAL */

body {
	font-family: 'Lora', serif;
}

/* NAVBAR */
.navbar {
	background: none;
	border: none;

	font-family: 'Lato', sans-serif;
}

#navDrop {
	margin-left:10px;
}

#navSearch {
	margin-right:10px;
	margin-top:12px;
}

#navHome {
	margin-left:25px;
}
