/* GENERAL */

body {
	font-family: 'Crimson Text', serif;
    font-size:16px;
}

/* NAVBAR */
.navbar {
	background: none;
	border: none;
	box-shadow:none;

    font-size: 14px;
	font-family: 'Lato', sans-serif;
}

.navbar-default div.navbar-collapse {
    border-top:none !important;
    box-shadow:none;
    -webkit-text-shadow: none;
    text-shadow: none;
}

#navDrop {
	margin-left:10px;
}

#navSearch {
	margin-right:10px;
	margin-top:12px;
}

#navHome {
	margin-left:25px;
}

p {
	font-size:1.3em;
}
