body {
	font-family: 'Lora', serif;
}

#articles {
	margin-top:20px;
}

#headerBreaker {
	border: none;
	height: 3px;
	margin-top:0em;
	background-color: #841212
}

#articles .heading {
	font-weight:700;
	font-size:1.2em;

	text-align:center;
}

#articles .image {
	width: 100%;
	height: 200px;

	background-position: 50% 15%;
	background-size: 100%;

	margin-bottom:10px;

	background-repeat:no-repeat;
}

#articles .author {
	color:#999;
	font-size:.8em;
	margin-top:4px;
	font-weight:400;
}

.navbar {
	background: none;
	border: none;

	font-family: 'Lato', sans-serif;
}

#navDrop {
	margin-left:10px;
}

#navSearch {
	margin-right:10px;
	margin-top:12px;
}

.header {
	margin-top:-53px !important;

	font-size:16px;
	width:380px;

	margin:0 auto;
	text-align:center;
}

.header #headerDate {
	font-family: 'Lato', sans-serif;
	font-size:.8em;
	font-weight:700;
}


.header hr {
	margin-top:8px;
}

.header h1 {
	font-size:2.6em;
}

.header h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size:1em;
}
