/* HEADER */

@font-face {
    font-family: recordGothic;
    src: url(OldLondon.ttf);
}

.header {
	margin-top:-30px !important;

	font-size:16px;
    width: 80%;

	margin:0 auto;
	text-align:center;
}

.header #headerDate {
	font-family: 'Lato', sans-serif;
	font-size:.8em;
	font-weight:700;
}


.header hr {
	margin-top:8px;
}

.header h1 {
	font-size:4em;
	font-family:recordGothic;
}

.header h4 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size:1em;
}

#headerBreaker {
	border: none;
	height: 3px;
	margin-top:0em;
	background-color: #841212
}

/* ARTICLES */

#articles {
	margin-top:20px;
}

#articles .heading {
	font-weight:700;
	font-size:1.3em;
	margin-bottom:8px;

	text-align:left;
}

#articles .heading a, #articles .author a  {
	color: inherit;
}

#articles .image {
	width: 100%;
	height: 200px;

	background-position: 50% 15%;
	background-size: cover;

	margin-bottom:10px;

	background-repeat:no-repeat;
}

#articles .author {
	color:#999;
	font-size:.8em;
	margin-top:4px;
	font-weight:400;
}

#articles .category {
	font-size:0.8em;
}

#articles .content {
	margin-bottom:20px;
}

/* LOAD MORE */

#loadMore {
	font-family:Lato;
	margin-top:50px;
	text-align:center;
}

#loadMore a {
	text-decoration:none;
}
