.article {
	margin-bottom:20px;
}

.article .title {
	font-weight:700;
	font-size:1.3em;
	margin-bottom:8px;

	text-align:left;
}

.article .title a, .article .author a  {
	color: inherit;
}

.article .author {
	color:#999;
	font-size:.8em;
	margin-top:4px;
	font-weight:400;
}
