#Options +FollowSymLinks
#RewriteEngine On
#RewriteCond %{REQUEST_URI} !=/construction.html

#RewriteCond %{REQUEST_URI} !.*\.ttf$ [NC]
#RewriteCond %{REQUEST_URI} !.*\.css$ [NC]

#RewriteRule .* /construction.html
